* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
:root {
  /* --background-color: #00001f; */
  --background-color: #000015;

  --anti-background-color: #dfdfff;
  --trans-anti-background-color: rgb(223, 223, 255, 0.3);
  --title-color: #dfdfff;
  --first-color: #dfdfff;

  --text-color: #c7c7e7;
  --second-color: #c7c7e7;

  --fourth-color: #00aaff;
  --focus-color: #00aaff;

  --third-color: rgba(0, 0, 21, 0.7);
  --trans-background-color: rgba(0, 0, 21, 0.7);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  max-width: 1500px;
  background-color: var(--background-color);
  position: relative;
  margin: auto;
}

/* =======================================
                  main
======================================= */

#main-container {
  width: 100%;
}

/* =========================about */

/* .about-section {

} */
.cards {
  background-color: var(--anti-background-color);
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.cards > h2 {
  text-align: center;
  padding: 1rem 0;
  color: var(--background-color);
}
.cards-container1,
.cards-container2 {
  /* background-color: brown; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  position: relative;
}
.t1 > p {
  border-left: 3px solid var(--background-color);
  padding: 0 5px;
  margin-bottom: 10px;
  color: var(--background-color);
}
.t2 > p {
  border-right: 3px solid var(--background-color);
  padding: 0 5px;
  margin-bottom: 10px;
  color: var(--background-color);
  text-align: end;
}
.companies,
.awards {
  /* background-color: #00aaff; */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  display: grid;
  gap: 1rem;
}
.companies > div,
.awards > div {
  background-color: var(--anti-background-color);
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.8);
}
.companies > div > img,
.awards > div > img {
  width: 5rem;
  height: 4rem;
  border-radius: 5px;
}
.companies > div > p,
.awards > div > p {
  color: var(--background-color);
}
.companies > div > h4,
.awards > div > h4 {
  color: var(--background-color);
}
@media (max-width: 800px) {
  .cards-container1,
  .cards-container2 {
    display: flex;
    flex-direction: column;
  }
}
/* =========================story */

.story {
  /* background-color: aquamarine; */
  height: auto;
  padding: 0 5rem;
  margin-top: 1rem;
}
.story-text-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.story-text-content > h2 {
  color: var(--anti-background-color);
  text-align: center;
}
.story-text-content > p {
  color: var(--text-color);
  text-align: center;
}
.story-text-content > a {
  position: relative;
  color: var(--focus-color);
  text-decoration: none;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  border-bottom: 2px solid var(--focus-color);
  transition: all 1s;
}
.story-text-content > a:hover {
  border-bottom: 2px solid var(--anti-background-color);
}

/* ===============services and review */
.services-section {
  padding: 0 5rem;
  margin-top: 1rem;
}
.soft-services,
.review-container {
  margin: auto;
  background-color: antiquewhite;
}
.soft-services > h3,
.review-container > h3 {
  color: var(--background-color);
}
.soft-services > .review-container > p {
  color: var(--third-color);
}
/* =========================REVIEW CARDS */
.review-cards {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
/* ====================visit us containers */
.visit-container {
  background-color: var(--background-color);
  color: white;
}
.visit-container > h2 {
  color: var(--first-color);
  text-align: center;
  padding: 1rem;
}
.visit-content {
  display: flex;
}
.visit-area-content {
  background-color: blueviolet;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.visit-area-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: blue;
  width: 50%;
}
